<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="./popup"> 
        <ul><!--javascript opneer-->
        <li>이메일</li>
        <li><input class = "id" name = "id" type="email"></li>
        <input class="smfunc" type = "submit" onclick="submitfunc()" value="중복체크" >
        </ul>
    </form>
</body>
</html>